.DS_Store
._.DS_Store
.idea
.eclipse
.vscode
.gitignore
*~
*.log
*.pyc
*.dump
*.swp
TODO
tags
project.sublime-project
/log
/config
/snapshots
tmp/
__pycache__/
/nextcloud/config
/nextcloud/custom_apps
/nextcloud/data
!/.gitignore
