.DS_Store
._.DS_Store
.idea
.eclipse
.vscode
.gitignore
.psql_history
*~
*.log
*.pyc
*.dump
*.swp
TODO
tags
project.sublime-project
/housekeeping
/data
/log
/agents/tests/tests.log
/config
/venv
/snapshots
/storage
/modifications/diffs
tmp/
__pycache__/
/nextcloud/config
/nextcloud/custom_apps
/nextcloud/data
!/.gitignore
