[Unit]
Description=RabbitMQ ReplicationAgent daemon
After=network.target

[Service]
User=apache
Group=apache
WorkingDirectory=/var/ida
ExecStart=/var/ida/venv/bin/python -m agents.replication.replication_agent

[Install]
WantedBy=multi-user.target
