[Unit]
Description=RabbitMQ MetadataAgent daemon
After=network.target

[Service]
User=apache
Group=apache
WorkingDirectory=/var/ida
ExecStart=/var/ida/venv/bin/python -m agents.metadata.metadata_agent

[Install]
WantedBy=multi-user.target
